<ion-header>
  <ion-toolbar color='primary'>
    <h3 text-center>History</h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <h4>
        ประวัติการใช้งาน
      </h4>
    </ion-item>

    <ion-grid>
      <ion-grid>
        <ion-list *ngIf="this.Lists.length !== 0">
          <ion-item *ngFor="let end of this.Lists" shape="round" color="primary" style="margin-bottom: 2%;">
            <ion-avatar slot="start">
              <img src="../../../../assets/compass.svg">
            </ion-avatar>
            <ion-label>
            <h1><b>{{end}}</b></h1>
            </ion-label>
        </ion-item>
        </ion-list>
       
      </ion-grid>
    </ion-grid>



  </ion-list>
</ion-content>