<ion-header>
  <ion-toolbar color='primary'>
    <h3 text-center>BLUE C0MPASS</h3>
    <ion-searchbar color="light" showCancelButton="focus" shape="round" animated="true" mode="ios"
      (ionChange)="inputSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <h4>
        {{textStatus}}
      </h4>
      <ion-button *ngIf="typeShowData" (click)="setTypeShowData()" slot="end">
        <ion-icon name="apps"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!typeShowData" (click)="setTypeShowData()" slot="end">
        <ion-icon name="list"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-row>
      <div *ngIf="true">
        <ion-col *ngFor="let location of filterLocations;let i = index;">
          <app-location *ngIf="location" [location]="location" [index]="i" [typeShowData]="typeShowData">
          </app-location>
        </ion-col>
      </div>
    </ion-row>
  </ion-list>
</ion-content>