<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-dropleft-circle" size="large" slot="start" (click)="backBeforePage()"></ion-icon>
    <ion-title text-center>
      แผนการเดินทาง
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h4>
      จุดหมายของฉัน
    </h4>
  </ion-item>
  <ion-card color="primary">
    <ion-item shape="round" color="light">
      <ion-avatar slot="start">
        <img src="../../../../assets/compass.svg">
      </ion-avatar>
      <ion-label>
        <h1><b>ชื่อ ...... </b></h1>
        <h2>วันที่: ../../.. </h2>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-item>
    <h4>
      ตำแหน่งปัจจุบันของฉัน
    </h4>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <h5><b>รูปแบบการระบุตำแหน่ง</b></h5>
      <div text-center style="margin-right: auto;margin-left: auto;">
        <ion-button>
          <ion-icon name="camera"></ion-icon>QR Code
        </ion-button>
        <ion-button>
          <ion-icon name="bluetooth"></ion-icon>Beacon
        </ion-button>
      </div>
    </ion-card-header>
    <ion-card-content>
      เป็นการระบุตำแหน่งโดยการสแกน Qr Code บริเวณที่คุณอยู่
    </ion-card-content>
    <div style="margin-right: auto;margin-left: auto;margin-bottom: 2%;" text-center>
      <ion-button shape="round" fill="outline" color="success">ฉันพร้อมจะระบุตำแหน่งแล้ว</ion-button>
    </div>
  </ion-card>
  <ion-card color="primary">
    <ion-item shape="round" color="light">
      <ion-avatar slot="start">
        <img src="../../../../assets/compass.svg">
      </ion-avatar>
      <ion-label>
        <h1><b>ชื่อ ...... </b></h1>
      </ion-label>
    </ion-item>
  </ion-card>
 
  <div style="margin-left: auto;margin-right: auto;text-align:center">
    <ion-button  routerLink="/map" 
    size="large" > เริ่มเดินทาง ! </ion-button>
  </div>

</ion-content>