<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-dropleft-circle" size="large" slot="start" (click)="backBeforePage()"></ion-icon>
    <ion-title text-center>
      แผนการเดินทาง
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h4>
      จุดหมายของฉัน
    </h4>
  </ion-item>
  <ion-card>
    <ion-item color="indigo" shape="round">
      <ion-avatar slot="start">
        <img src="../../../../assets/compass.svg">
      </ion-avatar>
      <ion-label>
        <h1 text-wrap><b> {{nameGoal || 'ไม่พบข้อมูล'}} </b></h1>
      </ion-label>
      <ion-button *ngIf="!idGoal" size="large" color="danger" (click)="backBeforePage()">X</ion-button>
    </ion-item>
  </ion-card>
  <ion-item>
    <h4>
      ตำแหน่งปัจจุบันของฉัน
    </h4>
  </ion-item>
  <ion-card color="indigo" *ngIf="statusFindMyLocation">
    <ion-card-title text-center style="margin-left: 3%;margin-top: -3%;">
      <h4 style="color:rgb(255, 255, 255);">
        <b>รูปแบบการระบุตำแหน่ง</b>
      </h4>
    </ion-card-title>
    <ion-card-header>
      <div text-center style="margin-right: auto;margin-left: auto;margin-top: -7%;">
        <ion-button (click)="onQrCode()">
          <ion-icon name="camera"></ion-icon>QR Code
        </ion-button>
        <ion-button (click)="onBeacon()">
          <ion-icon name="bluetooth"></ion-icon>Beacon
        </ion-button>
      </div>
    </ion-card-header>
    <ion-card-content style="margin-right: auto;margin-left: auto;margin-top: -7%;" *ngIf="showDetail">
      {{findLocationDetail}}
    </ion-card-content>
    <div *ngIf="showDetail" style="margin-right: auto;margin-left: auto;margin-bottom: 2%;margin-top: -5%;" text-center>
      <ion-button *ngIf="typeScan" shape="round" fill="outline" color="light" (click)="qrCodeScaner()">ฉันพร้อมจะระบุตำแหน่งแล้ว</ion-button>
      <ion-button *ngIf="!typeScan"shape="round" fill="outline" color="light" (click)="beaconScaner()">ฉันพร้อมจะระบุตำแหน่งแล้ว</ion-button>
    </div>
  </ion-card>
  <ion-card *ngIf="!statusFindMyLocation">
    <ion-item shape="round" color="indigo">
      <ion-avatar slot="start">
        <img src="../../../../assets/compass.svg">
      </ion-avatar>
      <ion-label>
        <h1><b> {{idStart}} </b></h1>
      </ion-label>
    </ion-item>
  </ion-card>

  <div *ngIf="!statusFindMyLocation" style="margin-left: auto;margin-right: auto;text-align:center">
    <ion-button (click)="nextPage()" size="large"> เริ่มเดินทาง ! </ion-button>
  </div>
  
  <!-- ทางลัด -->
  <!-- <div style="margin-left: auto;margin-right: auto;text-align:center">
    <ion-button [routerLink]="['/map']" size="large"> เริ่มเดินทาง ! </ion-button>
  </div> -->

</ion-content>