<ion-header>
  <ion-toolbar color='primary'>
    <h3 text-center>ติดต่อ</h3>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-list>
      <ion-item>
        <ion-avatar slot="end">
          <img src="../../../../assets/devloper/t.sang.jpg">
        </ion-avatar>
        <ion-label>
          <h3><b>ที่ปรึษาและอำนวจการสร้าง</b></h3>
          <p>ผศ.ดร.แสงสุรีย์ วสุพงศ์อัยยะ </p>
          <p>Email: vsangsur@coe.psu.ac.th</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar size="large" slot="end">
          <img src="../../../../assets/devloper/jakee.jpg">
        </ion-avatar>
        <ion-label>
          <h3><b>ผู้พัฒนาคนที่ 1</b></h3>
          <p>นายจาคี อินทปัญญา</p>
          <p>Email: 5910110044@psu.ac.th</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="end">
          <img src="../../../../assets/devloper/voraprat.jpg">
        </ion-avatar>
        <ion-label>
          <h3><b>ผู้พัฒนาคนที่ 2</b></h3>
          <p>นายวรปรัชญ์ รัตนะ</p>
          <p>Email: 5910110288@psu.ac.th</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>