.ion-color-indigo {
    --ion-color-base: var(--ion-color-indigo);
    --ion-color-base-rgb: var(--ion-color-indigo-rgb);
    --ion-color-contrast: var(--ion-color-indigo-contrast);
    --ion-color-contrast-rgb: var(--ion-color-indigo-contrast-rgb);
    --ion-color-shade: var(--ion-color-indigo-shade);
    --ion-color-tint: var(--ion-color-indigo-tint);
}

.ion-color-sea {
    --ion-color-base: var(--ion-color-sea);
    --ion-color-base-rgb: var(--ion-color-sea-rgb);
    --ion-color-contrast: var(--ion-color-sea-contrast);
    --ion-color-contrast-rgb: var(--ion-color-sea-contrast-rgb);
    --ion-color-shade: var(--ion-color-sea-shade);
    --ion-color-tint: var(--ion-color-sea-tint);
}

ion-card {
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 20px;
}

.wrap-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ion-color-blue {
    --ion-color-base: var(--ion-color-blue);
    --ion-color-base-rgb: var(--ion-color-blue-rgb);
    --ion-color-contrast: var(--ion-color-blue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
    --ion-color-shade: var(--ion-color-blue-shade);
    --ion-color-tint: var(--ion-color-blue-tint);
}
img {
    display: block;
    width: auto;
    height: auto;
}
